/*base style*/
* {
	font-family: sans-serif, serif;
	box-sizing: border-box;
}

p {
	padding: 10px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	text-align: center;
}

.section_1, .section_2, .section_3{
	background-color: #dbd9d0;
	border: 1px solid #383835;
	margin-top: 10px;
	position: relative;
}

#title_1 {
	background-color: #9ba5b0;
	border: 1px solid #222324;
	position: absolute;
	margin-top: 0;
	top: 0%;
	right: 0;
	padding: 5px;
}

#title_2 {
	background-color: #4873cf;
	border: 1px solid #222324;
	position: absolute;
	margin-top: 0;
	top: 0%;
	right: 0;
	padding: 5px;
}

#title_3 {
	background-color: #bd65c7;
	border: 1px solid #222324;
	position: absolute;
	margin-top: 0;
	top: 0%;
	right: 0;
	padding: 5px;
}

/*Declaring 100% width*/
.container {
		width: 100%;
		position: relative;
}

/*Desktop version*/
@media (min-width: 992px) {
	.col-lg-4 {
		width: 32%;
	}
	.section_1, .section_2, .section_3 {
		position: relative;
		box-sizing: border-box;
		float: left;
		
	}
	.container > .section_1, .section_2{
		margin-right: 2%;
	}
}

/*Tablet version*/
@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6 {
		width: 49%;
	}

	.section_1, .section_2, .section_3 {
		position: relative;
		box-sizing: border-box;
		float: left;
	}

	.container > .section_1 {
		margin-right: 2%;
	}

	.col-lg-full {
		width: 98%;
	}

}

/*Mobile version*/
@media (max-width: 767px) {
	...
}